.header-container{
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: 10px 0;
    flex-wrap: wrap;
    background-color:rgb(249, 250, 255);
    height: 15vh;
    align-content: space-evenly;
    .icon{
        display: flex;
        gap: 50px;
        align-items: center;
        @media screen and (max-width: 768px)  {
            margin-top: calc(0.2 *10vh);
        }
    }
}