.header-container {
	background-color: rgb(249, 250, 255);
	height: 15vh;
	display: flex;
	.wrapper {
        width: 80%;
        
        padding: 0 20px;
        height: 100%;
        margin: auto;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        .upper{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30%;
            overflow:hidden;
            .left-upper-header{
                .follow{
                    @media screen and (max-width: 576px) {
                        display: none;
                    }
                }
                .facebook-logo{
                    font-size: large;
                    cursor: pointer;
                    color: blue;
                }
            }
        }
		.lower {
			display: flex;
            
			width: 100%;
			align-items: center;
            height: 70%;
			// justify-content: space-around;
			.logo{
                font-size: 1.5rem;
            }
            .name{
                font-size: 1rem;
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
		}
	}
}
.line{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:hover{
        background-color: #f8f8f8;
    }
}